@charset "UTF-8";
html, body {-webkit-tap-highlight-color:transparent; -webkit-tap-highlight:transparent;-webkit-text-size-adjust:none;overflow-x:hidden;}
html, body, div, span, table, tbody, tr, th, td, em, img, strong, h1, h2, h3, h4, h5, h6, p, a, dl, dt, dd, ol, ul, li, form, label, input{margin:0;padding:0;list-style:none;outline:none;}
h1, h2, h3, h4, h5, h6, b{font-weight:400;}
a, img{border:0;}
img{vertical-align:middle;}
/*全局默认的链接,body*/
body{min-width:320px;background-color:#fff;font-family:"Microsoft YaHei";color:#666;font-size:14px;}
a{font-size:14px;color:#666;text-decoration:none;}
a:hover{color:#666;}
a:active{color:#666;}
.bg-gray{background-color:#f5f5f5;}
.f-left{float:left;}
.f-right{float:right;}
.clear{display:block;height:0;clear:both;line-height:0;font-size:0;overflow:hidden;visibility:hidden;}
.ui-content{width:1200px;margin:0 auto;}

//头部
.my-header{width:100%;height:70px;clear:both;background-color:rgba(0,0,0,.6);position:fixed;left:0;top:0;z-index:5;
    .my-header-box{width:1200px;padding:0 15px;height:70px;margin:0 auto;}
    .logo{position:relative;z-index:2;
        a{width:114px;height:42px;line-height:70px;float:left;}
        span{width:114px;height:42px;line-height:70px;float:left;}
        img{width:100%;}
        .cell-menu-btn{display:none;}
    }
    .menu-box{display:inline-block;float:right;
        .icon-menu{display:none;}
        li{display:inline-block;height:70px;margin-left:15px;line-height:70px;
            &:first-child{margin-left:0;}
            a{display:block;padding:0 8px;font-size:16px;color:#fff;transition:all .12s ease-in-out;-webkit-transition:all .12s ease-in-out;position:relative;
                &:before{content:' ';width:100%;height:4px;position:absolute;left:0;top:0;transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;}
                &:hover{color:#ffeba4;}
                &:hover:before{background-color:#b09533;}
                &.router-link-active{color:#ffeba4;}
                &.router-link-active:before{background-color:#b09533;}
            }
            span{display:block;padding:0 8px;font-size:16px;color:#fff;transition:all .12s ease-in-out;-webkit-transition:all .12s ease-in-out;position:relative;cursor:pointer;
                &:before{content:' ';width:100%;height:4px;position:absolute;left:0;top:0;transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;}
                &:hover{color:#ffeba4;}
                &:hover:before{background-color:#b09533;}
            }
        }
    }
}

//首页
.screen-box{width:100%;height:800px;margin:0 auto;background:url(../../img/banner-index.jpg) no-repeat center center;background-size:cover;background-attachment:fixed;overflow:hidden;
    .ui-content-box{width:518px;height:200px;margin:300px auto;position:relative;}
    [class^='cell-text-']{width:518px;position:absolute;left:0;}
    .cell-text-1{width:100%;height:54px;background:url(../../img/banner-index-text-1.png) no-repeat center center;background-size:contain;top:0;}
    .cell-text-2{width:100%;height:70px;background:url(../../img/banner-index-text-2.png) no-repeat center center;background-size:contain;top:60px;}
    .cell-text-3{width:100%;height:48px;background:url(../../img/banner-index-text-3.png) no-repeat center center;background-size:contain;top:152px;}
}

.ui-brand{width:100%;height:810px;
    .ui-content{padding:172px 0;}
    li{width:233px;height:233px;margin:0 29px;float:left;
        img{max-width:100%;max-height:100%;}
    }
}

.ui-leasing-process{width:100%;height:810px;background:url(../../img/banner-leasing-process.jpg) no-repeat center center;background-size:cover;
    .ui-content{padding-top:82px;text-align:center;}
    h2{font-size:60px;color:#fff;line-height:100px;}
    h3{font-size:60px;font-weight:700;color:#fff;line-height:72px;}
    ul{margin-top:45px;clear:both;}
    li{display:block;width:270px;margin-left:30px;float:left;
        &:first-child{margin-left:0;}
        span{display:block;width:270px;height:270px;margin-bottom:22px;background-color:rgba(217,217,217,.9);text-align:center;line-height:270px;border-radius:50%;position:relative;}
        p{font-size:20px;color:#fff;line-height:30px;text-align:center;}
    }
}
.wrap{min-width:800px;}
.wrap h2{padding-top:120px;font-size:30px;font-weight:700;color:#454553;letter-spacing:1px;text-align:center;}

//汽车种类、婚庆套餐banner
.banner-box{
    &.banner-box-2{
        p{background:url(../../img/type.jpg) no-repeat center center; background-size:cover;}
    }
    &.banner-box-3{
        p{background:url(../../img/wedding.jpg) no-repeat center center; background-size:cover;}
    }
    p{height:400px;position:relative;
        img{
            position: absolute;top: 58%;left: 50%;transform: translate(-50%,-50%);
        }
    }
}

//汽车种类
.car-list{width:1200px;margin:10px auto;overflow:hidden;zoom:1;
    .car-item{width: 256px;margin: 12px;background:#eee;padding:10px;line-height:23px;font-weight:700;float:left;
        &>p:first-child{height: 173px;overflow:hidden;position:relative;
            img{width:100%;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
        }
        .title{margin-top:5px;line-height:30px;font-size:18px;
            span{font-weight:500;float:right;color:#b09533;font-size: 21px;
                i{display:inline-block;width:14px;height:17px;margin-right:5px;background:url("../../img/user-icon.png");}
            }
        }
        .price{color:#b09533;text-align:right;font-weight:500;}
    }
}

//婚庆套餐
.car-tab{width:1200px;margin:10px auto;
    .tab-item{padding:10px;margin:20px 0;background:#eee;overflow:hidden;zoom:1;
        .tab-left{display:inline-block;margin-top: 65px;line-height: 45px;width: 210px;text-align: center;
            .title{font-size:30px;font-weight:700;}
            .price{font-size:30px;font-weight:700;color:#b09533;}
        }
        .tab-right{float:right;
            .car-info{display:inline-block;width: 256px;margin-left:10px;line-height:23px;font-weight:700;
                &>p:first-child{position:relative;height:173px;overflow:hidden;
                    i{font-style:normal;color:#fff;position:absolute;right:8px;bottom:5px;font-size:22px;}
                    img{width:100%;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
                }
                .title{margin-top:5px;line-height:30px;font-size:18px;
                    span{font-weight:500;float:right;color:#b09533;font-size: 21px;
                        i{display:inline-block;width:14px;height:17px;margin-right:5px;background:url("../../img/user-icon.png");}
                    }
                }
            }
        }
    }
}

//底部
.my-footer{background:#b09533;
    .my-footer-box{overflow:hidden;zoom:1;padding:30px 10px;width:1200px;margin:0 auto;color:#fff;
        .footer-left{display:inline-block;
            img{width:160px;margin:20px 0;}
            p{
                span{display:inline-block;}
            }
        }
        .footer-right{float:right;line-height:28px;}
    }
}

/* ipad */
@media screen and (min-device-width :768px) and (max-device-width :1024px){
    //ipad头部和首页
    .ui-content{width:768px;}
    .my-header .my-header-box{width:738px;}
    .screen-box{height:600px;
        .ui-content-box{margin:200px auto;}
    }
    .ui-brand{height:600px;
        .ui-content{padding-top:150px;}
        li{width:152px;height:152px;margin:0 20px;}
    }
    .ui-leasing-process{height:600px;
        h2{font-size:40px;line-height:60px;}
        h3{font-size:40px;line-height:52px;}
        li{width:162px;margin:0 15px;
            &:first-child{margin:0 15px;}
            span{width:162px;height:162px;margin-bottom:16px;line-height:162px;
                img{width:52%;}
            }
        }
        p{font-size:16px;line-height:26px;}
    }

    //ipad汽车种类
    .car-list{width:97%;margin:10px auto;overflow:hidden;zoom:1;
        .car-item{width: 204px;margin: 12px;background:#eee;padding:10px;line-height:23px;font-weight:700;float:left;
            &>p:first-child{height: 173px;overflow:hidden;position:relative;
                img{width:100%;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
            }
            .title{margin-top:5px;line-height:30px;font-size:18px;
                span{font-weight:500;float:right;color:#b09533;
                    i{display:inline-block;width:14px;height:17px;margin-right:5px;background:url("../../img/user-icon.png");}
                }
            }
            .price{color:#b09533;text-align:right;font-weight:500;}
        }
    }

    //ipad婚庆套餐
    .car-tab{width:96%;margin:10px auto;
        .tab-item{padding:10px;margin:20px 0;background:#eee;overflow:hidden;zoom:1;
            .tab-left{display:inline-block;margin-top: 65px;line-height: 45px;width: 210px;text-align: center;
                .title{font-size:30px;font-weight:700;}
                .price{font-size:30px;font-weight:700;color:#b09533;}
            }
            .tab-right{float:right;
                .car-info{display:inline-block;width: 178px;margin-left:10px;line-height:23px;font-weight:700;
                    &>p:first-child{position:relative;height:173px;overflow:hidden;
                        i{font-style:normal;color:#fff;position:absolute;right:8px;bottom:5px;font-size:22px;}
                        img{width:100%;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
                    }
                    .title{margin-top:5px;line-height:30px;font-size:18px;
                        span{font-weight:500;float:right;color:#b09533;font-size: 22px;
                            i{display:inline-block;width:14px;height:17px;margin-right:5px;background:url("../../img/user-icon.png");}
                        }
                    }
                }
            }
        }
    }

    //ipad底部
    .my-footer{background:#b09533;
        .my-footer-box{overflow:hidden;zoom:1;padding:30px 10px;width:90%;margin:0 auto;color:#fff;
            .footer-left{display:inline-block;
                img{width:160px;margin:20px 0;}
                p{
                    span{display:inline-block;}
                }
            }
            .footer-right{float:right;line-height:28px;}
        }
    }
}

//手机
@media screen and (max-device-width: 414px) and (min-device-width: 320px){
    //手机 头部和首页
    .ui-content{width:320px;}
    .my-header{height:50px;
        .my-header-box{width:100%;height:50px;padding:0;}
        .logo{padding:0 15px;
            a{line-height:50px;}
            span{line-height:50px;}
            img{width:80%;}
            .cell-menu-btn{display:block;width:28px;height:28px;padding:5px 10px;color:#fff;text-align:center;position:absolute;right:5px;top:0;
                i{font-size:28px;position:relative;top:-2px;left:0;}
            }
        }
        .menu-box{width:100%;background-color:#fff;border-top:1px solid #b09533;position:absolute;left:0;top:0px;z-index:1;transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;transform:translateY(-100%);-webkit-transform:translateY(-100%);
            &.active{transform:translateY(0);-webkit-transform:translateY(50px);}
            li{width:100%;height:40px;margin:0;padding:0;clear:both;background-color:rgba(0,0,0,.9);text-align:center;line-height:40px;
                a{height:100%;display:block;font-size:16px;
                    &:active{background-color:rgba(0,0,0,.9);color:#fff;}
                    &:before{display:none;}
                }
            }
        }
    }
    .screen-box{
        width:100%;height:300px;margin:0 auto;background:url(../../img/banner-index-min.jpg) no-repeat center center;background-size:cover;background-attachment:scroll;overflow:hidden;
        .ui-content-box{width:80%;margin:80px auto;}
        [class^='cell-text-']{width:100%;}
        .cell-text-1{
            height:100px;
        }
        .cell-text-3{
            top:120px;
        }
    }
    .ui-brand{
        height:670px;
        .ui-content{padding-top:50px;}
        li{width:140px;height:140px;margin:0 10px;}
    }
    .ui-leasing-process{width:100%;height:680px;background:url(../../img/banner-leasing-process-min.jpg) no-repeat center center;background-size:cover;
        .ui-content{padding-top:50px;}
        h2{font-size:26px;line-height:48px;}
        h3{font-size:26px;line-height:38px;}
        ul{margin-top:15px;}
        li{width:140px;margin:10px;
            &:first-child{margin:10px;}
            span{width:120px;height:120px;margin-bottom:16px;line-height:120px;margin: 10px auto;
                img{width:40%;}
            }
            p{font-size:14px;line-height:26px;}
        }
    }

    //手机 汽车种类、婚庆套餐banner
    .banner-box{
        &.banner-box-2{
            img{width:40%;}
        }
        &.banner-box-3{
            img{width:65%;}
        }
        p{height:180px;width:100%;background-size:cover;position:relative;
            img{position:absolute;width:50%;position: absolute;top: 62%;left: 50%;transform: translate(-50%,-50%);}
        }
    }

    //手机 汽车种类
    .car-list{width:97%;margin:10px auto;overflow:hidden;
        .car-item{width: 43%;background:#eee;line-height:23px;font-weight:700;float:left;padding:2%;margin:5px 1.5%;font-size:14px;
            &>p:first-child{height: 173px;overflow:hidden;position:relative;
                img{width:100%;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
            }
            .title{margin-top:5px;line-height:30px;font-size:18px;
                span{font-weight:500;float:right;color:#b09533;
                    i{display:inline-block;width:14px;height:17px;margin-right:5px;background:url("../../img/user-icon.png");}
                }
            }
            .price{color:#b09533;text-align:right;font-weight:500;}
        }
    }

    //手机 婚庆套餐
    .car-tab{width:94%;margin:10px auto;
        .tab-item{padding:10px;margin:20px 0;background:#eee;overflow:hidden;
            .tab-left{display:block;margin-top: 5px;line-height: 45px;width: 100%;text-align: center;margin-bottom:10px;
                .title{font-size:30px;font-weight:700;}
                .price{font-size:30px;font-weight:700;color:#b09533;}
            }
            .tab-right{float:none;
                .car-info{display:inline-block;width: 49%;margin-left:0;line-height:23px;font-weight:700;float:left;font-size:14px;
                    &:first-child{margin-right:2%;}
                    &>p:first-child{position:relative;height:173px;overflow:hidden;
                        i{font-style:normal;color:#fff;position:absolute;right:8px;bottom:5px;font-size:22px;}
                        img{width:100%;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
                    }
                    .title{margin-top:5px;line-height:30px;font-size:18px;
                        span{font-weight:500;float:right;color:#b09533;font-size: 22px;
                            i{display:inline-block;width:14px;height:17px;margin-right:5px;background:url("../../img/user-icon.png");}
                        }
                    }
                }
            }
        }
    }

    //手机 底部
    .my-footer{background:#b09533;
        .my-footer-box{overflow:hidden;padding:30px 0;width:85%;margin:0 auto;color:#fff;
            .footer-left{display:inline-block;
                img{width:130px;margin:10px 0;}
                p{font-size:12px;line-height:22px;
                    span{display:block;}
                }
            }
            .footer-right{float:right;font-size:12px;line-height:22px;}
        }
    }
}

//iphone5
@media screen and (device-width :320px){
    //iphone5
    .screen-box{
        .ui-content{padding-top:40px;
            h1{margin:0 10px 25px;}
        }
    }
    .wrap h2{padding:70px 10px 0;font-size:26px;}
    .my-footer{
        .my-footer-box{width:93%;
            .footer-left{
                img{width:120px;}
            }
        }
    }
}

/* 动画 */
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
@-webkit-keyframes slideInUp{
    0%{opacity:0;-webkit-transform:translateY(150px);transform:translateY(150px);}
    100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
}
@keyframes slideInUp{
    0%{opacity:0;-webkit-transform:translateY(150px);-ms-transform:translateY(150px);transform:translateY(150px);}
    100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
}
.slideInUp{-webkit-animation-name:slideInUp;animation-name:slideInUp;}

@-webkit-keyframes slideInLeft{
    0%{opacity:0;-webkit-transform:translateX(-300px);transform:translateX(-300px);}
    100%{-webkit-transform:translateX(0);transform:translateX(0);}
}
@keyframes slideInLeft{
    0%{opacity:0;-webkit-transform:translateX(-300px);-ms-transform:translateX(-300px);transform:translateX(-300px);}
    100%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
}
.slideInLeft{-webkit-animation-name:slideInLeft;animation-name:slideInLeft}

@-webkit-keyframes slideInRight{
    0%{opacity:0;-webkit-transform:translateX(300px);transform:translateX(300px);}
    100%{-webkit-transform:translateX(0);transform:translateX(0);}
}
@keyframes slideInRight{
    0%{opacity:0;-webkit-transform:translateX(300px);-ms-transform:translateX(300px);transform:translateX(300px);}
    100%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
}
.slideInRight{-webkit-animation-name:slideInRight;animation-name:slideInRight}

@-webkit-keyframes slideInDown{
    0%{opacity:0;-webkit-transform:translateY(-150px);transform:translateY(-150px);}
    100%{-webkit-transform:translateY(0);transform:translateY(0);}
}
@keyframes slideInDown{
    0%{opacity:0;-webkit-transform:translateY(-150px);-ms-transform:translateY(-150px);transform:translateY(-150px);}
    100%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
}
.slideInDown{-webkit-animation-name:slideInDown;animation-name:slideInDown;}
